.btn {
    width: 100% !important;
    background-color: lightgray;
    position: inherit;
}

.btnSave {
    background-color: #4a69d4 !important;
    color: white;
    width: 50vmin !important;
}

.btnSaved {
    background-color: #b6bcb5 !important;
    width: 50vmin !important;
}