.btn {
    width: 150vmin !important;
    background-color: lightgray;
    position: inherit;
}

.btnSave {
    background-color: #81bf7c !important;
    width: 50vmin !important;
}

.btnSaved {
    background-color: #b6bcb5 !important;
    width: 50vmin !important;
}